body{
    background-image: url(/images/woman.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;

}