@font-face {
    font-family: Aileron Bold;
    src: url(/font/Aileron/Aileron-Bold.otf);
    font-weight: bold;
}

body {
    font-family: "Aileron Light";
}

p{
    font-size: 1.2em;
    padding: 32px;
}

h2{
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 16px;
    font-family: "Aileron Bold";
}

h3{
    padding: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

/*story pages*/
#doneer_en_deel_reveal{
    background-color:#D32D1D;
    color: white;
    border: none;
    padding: 30px;
    font-size: 1.3em;
}

  #doneer_en_deel_reveal:focus{
    background-color: #941509;
}


.padding_story{
    padding: 16px;
}

#header_story{
    color: white;
    font-family: "Aileron Bold";
    padding-top: 16px;
}

/*navigation bar*/
.topnav{
    background-color: #D32D1D;
    display: flex;
    justify-content: space-between;
    height: 50px;

    overflow: hidden;
    z-index: 100;
}

.hamburger {
    height: 24px;
    padding: 16px;
}

#sticky{
    position: sticky;
    top: 0;
}

.show{
    display: block;
    transition: all 0.25s;
    transition-behavior: allow-discrete;
    opacity: 1;
    scale: 1;
}

.hide{
    display: none;
    opacity: 0;
    scale: 0;
    width: 0;}

#other_pages{
    background-color: #C0C0C0;
}


.nav_text a{
    color: black;
    font-family: "Aileron Bold";
    display: flex;
    justify-content: center;
    padding: 16px;
    text-decoration: none;
}

.nav_text {
    border-top: 2px solid white;
    
}

#header_praktisch{
    color: white;
    font-family: "Aileron Bold";
}


/*praktische informatie pagina*/
.search{
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

#searchbar{
    background-color: #FAE8E6;
    border: none;
    padding: 16px;
    font-size: 1.1em;
}

#search_button{
    display: flex;
    border: none;
    padding: 16px;
    align-items: center;
    background-color: #D32D1D;
    color: white;
    font-size: 1.1em;
}

hr.solid {
    border-top: 1px solid #D32D1D;
    margin: 5px;
  }

  .collapsible {
    background-color: transparent;
    color: black;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.15em;
    font-family: "Aileron Light";
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    float: inline-start;
    margin-right: 10px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .info_tekst{
    font-size: 1em;
    padding: 0;
  }

  #doneer_en_deel{
    background-color:#D32D1D;
    color: white;
    border: none;
    padding: 16px;
    font-size: 1.3em;
  }

  #doneer_en_deel:focus{
    background-color: #941509;
  }

  #doneer{
    display: flex;
    justify-content: center;
    padding: 16px;
  }

  .bottom_bar{
    background-color:#D32D1D;
    padding: 10px;
  }


/*homepage*/

.heart_image{
    max-width: 90%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.Sanquin_logo {
    font-family: "Aileron Bold";
    padding: 16px;
}

.heart_div{
    padding: 75px;

}

.hoofd_tekst{
    color: #D32D1D;
    display: flex;
    justify-content: center;
}

.informatie_tekst {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.aanmeld_knop{
    background-color: #D32D1D; 
    border: none;
    font-family: "Aileron Regular";
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-top: 10%;
}

.aanmeld_knop:focus{
    background-color: #941509;
}

.informatie_knoppen{
    display: flex;
    justify-content: space-between;
}

.praktische_knop{
    padding-top: 16px;
    padding-right: 8px;
    width: 50%;
}

.werking_knop{
    padding-top: 16px;
    padding-left: 8px;
    width: 50%;
}

.werking_knop:focus{
    background-color: #8D8A8A;
}

.informatie_knop{

    padding: 15px;
    background-color: #efefef;
    border: none;
    font-family: "Aileron Regular";
    font-size: 14px;
    right: 16px;
    width: 100%;
    height: 100%;
}

.informatie_knop:focus{
    background-color: #8D8A8A;
}

.bottom_alignment {
    position: absolute;
    bottom: 16px;
    right: 16px;
    left: 16px;

}

