@font-face {
    font-family: Aileron Bold;
    src: url(/font/Aileron/Aileron-Bold.otf);
    font-weight: bold;
}

body {
    font-family: "Aileron Light";
}

p{
    font-size: 1.1em;
}

h2{
    font-size: 2.5em;
    margin: 0;
    padding-bottom: 16px;
    font-family: "Aileron Bold";
}

/*navigation bar*/
.topnav{
    background-color: #D32D1D;
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.hamburger {
    height: 24px;
    padding: 16px;
}

#other_pages{
    display: none;
    background-color: #C0C0C0;
}

.nav_text a{
    color: black;
    font-family: "Aileron Bold";
    display: flex;
    justify-content: center;
    padding: 16px;
    text-decoration: none;
}

.nav_text {
    border-top: 2px solid white;
}

#header_praktisch{
    color: white;
    font-family: "Aileron Bold";
}


/*homepage*/

.heart_image{
    max-width: 90%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.Sanquin_logo {
    font-family: "Aileron Bold";
    padding-top: 16px;
}

.heart_div{
    display: flex;
    justify-content: center;
}

.hoofd_tekst{
    color: #D32D1D;
}

.informatie_tekst {
    padding-top: 16px;
}

.aanmeld_knop{
    background-color: #D32D1D; 
    border: none;
    font-family: "Aileron Regular";
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.informatie_knoppen{
    display: flex;
    justify-content: space-between;
}

.praktische_knop{
    padding-top: 16px;
    padding-right: 8px;
}

.werking_knop{
    padding-top: 16px;
    padding-left: 8px;
}

.informatie_knop{

    padding: 15px;
    background-color: #C0C0C0;
    border: none;
    font-family: "Aileron Regular";
    font-size: 14px;
}

